# PostgreSQL Configuration
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# MinIO Configuration
MINIO_ROOT_USER=changeme
# Should be at least 8 characters
MINIO_ROOT_PASSWORD=changeme 

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=changeme
RABBITMQ_DEFAULT_PASS=changeme

# OpenBAS General Configuration
KEYSTORE_PASSWORD=your_keystore_password
OPENBAS_ADMIN_EMAIL=changeme@example.com
OPENBAS_ADMIN_PASSWORD=changeme
# Should be a valid UUID
OPENBAS_ADMIN_TOKEN=UUID 

# Spring Mail Configuration
SPRING_MAIL_HOST=smtp.changeme.com
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=changeme@example.com
SPRING_MAIL_PASSWORD=changeme
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false

# OpenBAS IMAP Configuration
OPENBAS_MAIL_IMAP_ENABLED=false
OPENBAS_MAIL_IMAP_HOST=imap.changeme.com
OPENBAS_MAIL_IMAP_PORT=993
OPENBAS_MAIL_IMAP_AUTH=true
OPENBAS_MAIL_IMAP_SSL_ENABLE=true
OPENBAS_MAIL_IMAP_STARTTLS_ENABLE=false

# Collector MITRE ATT&CK Configuration
# Replace with a valid UUIDv4
COLLECTOR_MITRE_ATTACK_ID=changeme 

# COLLECTOR Atomic Red Team Configuration
# Replace with a valid UUIDv4
COLLECTOR_ATOMIC_RED_TEAM_ID=changeme 