OPENCTI_ADMIN_EMAIL=changeme@example.com
OPENCTI_ADMIN_PASSWORD=changeme
OPENCTI_ADMIN_TOKEN=UUID
OPENCTI_BASE_URL=http://localhost:8080
OPENCTI_HEALTHCHECK_ACCESS_KEY=UUID
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
RABBITMQ_DEFAULT_USER=changeme
RABBITMQ_DEFAULT_PASS=changeme
CONNECTOR_EXPORT_FILE_STIX_ID=UUID
CONNECTOR_EXPORT_FILE_CSV_ID=UUID
CONNECTOR_EXPORT_FILE_TXT_ID=UUID
CONNECTOR_IMPORT_FILE_STIX_ID=UUID
CONNECTOR_IMPORT_DOCUMENT_ID=UUID
CONNECTOR_ANALYSIS_ID=UUID
SMTP_HOSTNAME=localhostExample
ELASTIC_MEMORY_SIZE=4G